{% if modules %}
  {% for module in modules %}
    {{ module }}
  {% endfor %}
{% endif %}

{#% if modules %}
<!-- <aside id="column-left" class="col-sm-3">
<div class="category__content-leftside popup">
  {% for module in modules %}
  {{ module }}
  {% endfor %}
</div>  
</aside> -->
{% endif %#}