<li class="mobile-menu-item sub">
<a href="{{ url }}">{{ name }}</a>
<ul class="mobile-submenu">
{{ child }}
</ul>
<div class="menu__button-mob-open">
   <i class="fas fa-chevron-right"></i>
</div>
</li>