<object>
    <a href="{{ url }}" class="header_catalog__link child" data-catalog-link="">{{ name }}
        <div class="header_catalog__categories" data-categories="">
            <div class="header_catalog__categories_block">
                {{ child }}
            </div>
        </div>
    </a>
</object>