{{ header }}

<section class="not_found">
  <div class="not_found__container">
    <div class="section_block section_block--center">
      <h1 class="section_block__title">{{ heading_title }}</h1>
      <p class="section_block__text">{{ text_error }}</p>
    </div><a class="not_found__button" href="/">На главную страницу</a>
    <div class="home__tabs"><a class="home__tab" href="/">
        <svg class="icon">
          <use xlink:href="#tab_1"></use>
        </svg><span class="text">Главная</span></a><a class="home__tab" href="/catalog">
        <svg class="icon">
          <use xlink:href="#tab_2"></use>
        </svg><span class="text">Каталог</span></a><a class="home__tab" href="/cart">
        <svg class="icon">
          <use xlink:href="#tab_3"></use>
        </svg><span class="text">Корзина</span></a><a class="home__tab" href="/favorites">
        <svg class="icon">
          <use xlink:href="#tab_4"></use>
        </svg><span class="text">Избранное</span></a><a class="home__tab" href="/account">
        <svg class="icon">
          <use xlink:href="#tab_5"></use>
        </svg><span class="text">Войти</span></a></div>
  </div>
</section>


{{ footer }}
